.video-right {
    position: absolute;
    right: 169;
    top: 128;
    width:450;
    height:360;
}

.video-left {
    position: absolute;
    top: 128;
    left: 156;
    width: 425;
    height: 360;
    text-align: center;
    p {
        padding-left: 50px;
        line-height: 1.8;
    }
}

.guide-container {
    position: absolute;
    bottom: 100;
    left: 155;
    height: 325;
    background-color: $black;
    background-image: url('../img/backdrop.png');
    background-position: 70px;
    overflow: hidden;

    .guide-table {
        width: 850;
        height: 240;
        margin: 0;
        padding: 0;

        /* boxes */
        th, td {
            border: solid 5px;
            border-top-color: $white;
            border-left-color: $white;
            border-bottom-color: $black;
            border-right-color: $black;
        }

        th {
            background-color: $light-blue;
            width: 25%;

            &.realtime { text-align: right; }
        }

        td {
            background: $dark-blue;
            vertical-align: top;
            padding: 5px;

            &.movie { background: $blue-gradient; }
            &.summary { background: $gray; }
            &.notice {
                padding-left: 45px;
                background: $red-gradient;
            }
            
            &.date {
                text-align: center;
                color: $yellow;
            }

            &.channel {
                text-align: center;
                padding-left: 2em;
            }

            .continued-right {
                -webkit-text-stroke: 0;
                float: right;
                vertical-align: middle;
            }
        }
    }
}